body {
  background-color: rgb(226, 220, 200);
  margin: 0;
}

.topnav {
  background-color: rgb(241, 241, 241);
  overflow: hidden;
}


.topnav a {
  float: left;
  color: rgb(16, 15, 15);
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 17px;
}



.topnav a:hover {
  background-color: rgb(15, 61, 62);
  color: rgb(241, 241, 241);
}


.topnav a.active {
  background-color: rgb(15, 61, 62);
  color: rgb(241, 241, 241);
}

.brukernavn {
  
  float: right;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
  margin: auto;
  margin-bottom: 100px;
  justify-content: center;

}


.flex-container card {
  background-color: #f1f1f1;
  margin: 5px;
  padding: 5px;
  width: 350px;
  height: auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all .2s ease-in-out;
}

.box1 {
  width: 100%;
  height: auto;
  margin: 1px;
  padding: 1px;
}

img {
  width: 100%;
  height: 200px;
  justify-content: center;
}

.tekstbox {
  margin-left: 10px;

}

p {
  font-size: larger;
  color: rgb(15, 61, 62);
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: black;
}

.flex-container card:hover {
  transform: scale(1.05);
}

.footer {
  padding: 3px;
  background-color: rgb(15, 61, 62);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem;


}

.footertxt {
  text-align: center;
  color: white;

}

.overskrift {
  text-align: center;
  font-size: xx-large;
  color: rgb(15, 61, 62);
  margin-bottom: 50px;
}



.button {
  border-color: rgb(15, 61, 62);
}

.sort-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
  margin: auto;
  margin-bottom: 50px;
  justify-content: center;

}

.sort-container card {
  background-color: rgb(15, 61, 62);
  margin: 5px;
  padding: 5px;
  width: 350px;
  height: auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all .2s ease-in-out;
}

.link {
  font-size: larger;
  color: rgb(15, 61, 62);
  text-decoration: underline;
  text-align: center;
}  