
body {
    background-color: rgb(226, 220, 200);
    line-height: 1.5;

}
/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(241, 241, 241);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: rgb(16, 15, 15);
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a.loggUT {
    float: right;
    color: rgb(16, 15, 15);
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(15, 61, 62);
    color: rgb(241, 241, 241);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: rgb(15, 61, 62);
    color: rgb(241, 241, 241);
  }

  table {
    width: 80%;
    position: relative;
    margin: 50px auto;
    border: 2px solid;
    background-color: rgb(226, 220, 200);
  }

  td{
    text-align: center;
    border: 2px solid;
  }

  p{
    text-align: right;
  }

  .gridBox {
    margin: 200px;
  }

  .basic-grid {
    display: grid;
    gap: 2rem;
    margin: 200px;

    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-rows: 280px;
  }

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(15, 61, 62);
  font-size: 2rem;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 400ms;
  overflow: hidden;
  


  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  
}

.card:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translate(-3px) scale(1.1);
}


.cardtxt {
  color: black;
  
}


div.parent{ 
  border:solid black 1px;
  display:table;
  padding:5px; 
  width:60%;
  margin:5px 0; /* you can change/remove margin */
  background-color: rgb(241, 241, 241);
  position: relative;;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 90px;

}

div.parent:hover {
  background-color: rgb(226, 220, 200);
  
}

div.text{ 
  
  vertical-align:middle;
  display:table-cell;
  text-align:justify;
  padding: 30px;
}
div.parent .img{
  vertical-align:middle;
  display:table-cell;
  padding-right:5px;
  width:280px; /* you can change width */
}
div.img img{ 
  width:100%;
  height:200px; /* you can change height */
  vertical-align:middle;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: rgb(15, 61, 62);
}

